# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
eggs/
*.egg-info/
*.egg

# Unit test
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Logs
*.log

# MacOS
.DS_Store

# IDE
.idea/
.vscode/

# Training logs and artifacts
wandb/
*.hpc.itc.rwth-aachen.de.*
experiments
runs
stdout*

# External model repos (cloned locally; weights too large for version control)
rad_dino/models/MedImageInsights/

# scripts and notebooks
scripts/
notebooks/
